# Keep CSVs tracked with Git LFS
*.csv filter=lfs diff=lfs merge=lfs -text

# Tell GitHub Linguist to ignore HTML outputs
*.html linguist-detectable=false

# Force R as the main language
*.R linguist-language=R
*.Rmd linguist-language=R
